
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #0047AB;
    color: #fff;
}

.wrapper {
    text-align: center;
}

.logo {
    width: 600px;
    margin-bottom: 20px;
}

.message {
    font-size: 18px;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
}

.modal-content {
    background-color: #fff; /* Modal background color */
    margin: 15% auto; /* Center the modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    color: #0047AB; /* Default text color */
}

.modal-content h2 {
    color: #0047AB; /* Title color */
    margin-bottom: 15px;
}

.modal-content p {
    color: #333; /* Message color */
    font-size: 16px;
    margin-bottom: 20px;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    color: white; /* Button text color */
    background-color: #0047AB; /* Button background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003580; /* Button background on hover */
}



