
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #0047AB;
    color: #fff;
}

.wrapper {
    text-align: center;
}

.logo {
    width: 50% vw;
    margin-bottom: 20px;
}

.message {
    font-size: 18px;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 15px 30px;
    background-color: white;
    color: #0047AB;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f2f2f2;
}
